@{
    Layout="_Layout";
}

@model HairSalon.Models.Stylist
@using HairSalon.Models

<h2>@Model.StylistName's Details</h2>

@if (@Model.Clients.Count == 0)
{
    <h5>No clients have been added to @Model.StylistName </h5>
}
else
{
    <h2>Client's List</h2>
    <ul>
        @foreach (Client client in Model.Clients)
        {
         <li> @Html.ActionLink($"{client.ClientName}", "Details", "Clients", new { id = client.ClientId}) </li>   
        }
    </ul>
}

<p>@Html.ActionLink($"Add a new Client to {Model.StylistName}", "Create", "Clients")</p>
<p>@Html.ActionLink($"Edit {Model.StylistName}", "Edit", new { id = Model.StylistId})</p>
<p>@Html.ActionLink($"Delete {Model.StylistName}", "Delete", new { id= Model.StylistId})</p>
<p>@Html.ActionLink("View all stylists", "Index")</p>
<p>@Html.ActionLink("Return", "Index", "Home")</p>