@{
    Layout = "_Layout";
}

@model HairSalon.Models.Client
<h3>Edit Clients</h3>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ClientId)
    <br>
    @Html.LabelFor(model => model.ClientName)
    @Html.TextBoxFor(model => model.ClientName)
    <br>
    @Html.LabelFor(model => model.Stylist)
    @Html.DropDownList("StylistId")
    <br>
    <input type="submit" value="Update client">
}

<p>@Html.ActionLink("Return", "Index")</p>
<p>@Html.ActionLink("Return Home", "Index", "Home")</p>